<div class="ui raised card">
	<div class="image">
    <img src="<%= article.featured_image %>">
  </div>
  <div class="content">
    <div class="header"><%= article.title %></div>
    <div class="description">
      <p><%= article.headline %></p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
  </div>
</div>
