<div class="ui huge stackable menu">
  <div class='ui center aligned container'>
    <a class="item" href="/">Home</a>
    <div class="right menu">
      <% if false %>
        <span class="item">Hi <%= current_user.name %></span>
        <%= link_to "Sign out", '/', class: 'item'  %>
      <% else %>
        <a class="item" onclick="openNewSessionModal()">Sign in</a>
        <a class="item" onclick="openNewUserModal()">Sign up</a>
      <% end %>
      <div class="item">
        <div class="ui transparent icon input">
            <%= form_tag "/search", method: "get", id: 'search_form' do %>
              <input name="term" type="text" placeholder="Search for everything on e30" size="25" />
            <% end %>
          <i class="search link icon" onclick="submitForm()"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function submitForm() {
    $('#search_form').submit()
  }
  function openNewUserModal() {
    $('#new_user_modal').modal('show')
  }
  function openNewSessionModal() {
    $('#new_session_modal').modal('show')
  }
</script>
