<div class="ui huge stackable menu">
  <div class='ui center aligned container'>
    <a class="item" href="/">Home</a>
    <div class="right menu">
      <a class="item">Sign in / Sign up</a>
    </div>
  </div>
</div>
