<div class='ui container' id="articles">
  <%= render partial: 'share/group', locals: {articles: @articles} %>
</div>
<div class="ui segment" id="loading_segment">
  <div class="ui loader"></div>
</div>


<script type="text/javascript">
  var page = 1
  var searchTerm = "<%= params[:term] %>"
  var totalPages = <%= @articles.total_pages %>
  $(window).scroll(function() {
   if (isBottom()) {
    if (totalPages > page) {
      $( ".loader" ).addClass('active')
      page += 1
      $.ajax({
        method: 'get',
        url: '/search?term=' + searchTerm + '&page=' + page,
        dataType: "script"
      }).done(function() {
         $( ".loader" ).removeClass('active')
      })
    }}
  })
</script>
