<div class='ui container' id="articles">
  <%= render partial: 'share/group' %>
</div>
<div class="ui segment" id="loading_segment">
  <div class="ui loader"></div>
</div>

<script type="text/javascript">
  var page = 1
  var totalPages = <%= @articles.total_pages %>
  var searchTerm = "<%= params[:term] %>"
  $(window).scroll(function() {
   if (isBottom()) {
    if (totalPages > page) {
      $( ".loader" ).addClass('active')
      page += 1
      url = '/?page=' + page
      if (searchTerm.length > 0) {
        url += '&term=' + searchTerm
      }
      $.ajax({
        method: 'get',
        url: url,
        dataType: "script"
      }).done(function() {
         $( ".loader" ).removeClass('active')
      })
    }}
  })
</script>
