.article_container {
	width: 50% !important;
}

.article_segment {
	border: none !important;
	box-shadow: none !important;
	.content {
		font-size: large;
		margin-top: 20px;
  	margin-bottom: 20px;
  	text-align: left;
	}
}

.article_header {
	margin-top: 50px;
	margin-bottom: 20px;
}

.article_headline {
	text-align: left;
}

#article_content {
	line-height: 2em;
}
