.description {
	font-size: initial;
}

html, body {
  height: 100%;
}

.ui.grid {
  height: 100%;
}

#loading_segment {
	border: none;
	margin-top: 30px; 
}

.like.icon {
	font-size: 1.5em;
}

.liked {
	opacity: 1 !important;
	color: #FF2733;
}

.article_link {
	position: relative;
}

.article_link a {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
}
